@model ebook.ViewModels.NewBookViewModel
@{
    ViewBag.Title = "Available Book List";
}
<h2>@ViewBag.Title.</h2>

<hr />
Basic Search:
@using (Html.BeginForm("SimpleSearch", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <input type="text" name="search" placeholder="Book or Author Name" />
    <input type="submit" class="btn btn-default" value="Search" />
}
<hr />
Advanced Search:
@using (Html.BeginForm("AdvancedSearch", "Home", FormMethod.Get, new { @class = "form-horizontal", role = "form" }))
{
    <input type="text" name="bookName" placeholder="Book Name" />
    <input type="text" name="authorName" placeholder="Author Name" />
    @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control" })
    <input type="submit" class="btn btn-default" value="Advanced Search" />
}
<hr />
List By Category:
@using (Html.BeginForm("GetBooksListByCategory", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control" })
    <input type="submit" class="btn btn-default" value="Filter" />
}
<a href="@Url.Action("ViewResources", "Home")">
    Reset
</a>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Book Name</th>
            <th scope="col">Book Author</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        @{ var i = 1; }
        @foreach (var item in Model.BookList)
        {
            <tr>
                <th scope="row">@i</th>
                <td>@item.BookName</td>
                <td>@item.Author</td>
                <td>@item.Category</td>
                <td>@item.Rate</td>
                <td>@item.Discount</td>
                <td>
                    <a href="@Url.Action("ViewSingleBook", "Home", new { bookId = item.BookId })">
                        View Book
                    </a>
                </td>
            </tr>
            { i++; }
        }
    </tbody>
</table>
